.ml2 {
    margin-left: 2px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.resaltar {
    font-weight: 500;
}

.textAlignJustify {
    text-align: justify;
}

.divParaPropagacionDeEventos,
.containerDelegaciónDeEventos {
    border: 1px solid red;
    padding: 10px;
    cursor: pointer;
}

.fontSize10 {
    font-size: 10px;
}

.card-height {
    min-height: calc(100% - 20px);
}

.font-weight-100 {
    font-weight: 100;
}

.display-inline-block {
    display: inline-block;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.justify-content-normal {
    justify-content: normal !important;
}

header {
    /* background: linear-gradient(90deg, #e7f1ff 30%, #fffdf5 100%); */
    /* background: linear-gradient(90deg, #e7f1ff 30%, #f9f2ff 100%); */
    background: linear-gradient(90deg, #e7f1ff 30%, #fff5e7 100%);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.developer-networks {
    text-decoration: none;
    margin-right: 42px;
}

.network-item {
    width: 30px;
    border-radius: 50%;
}

.a-image-profile {
    position: absolute;
    right: 0.75rem;
}

.image-profile {
    width: 40px;
    border-radius: 50%;
}

.accordion-button {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
}

.accordion-button {
    background-color: #f9fcff5a;
}

.accordion-body {
    /* background: linear-gradient(90deg, #f5f9ff 30%, #f9f2ff 100%); */
    background: linear-gradient(90deg, #e7f1ff5a 30%, #fff5e759 100%);
}

.input-switch {
    display: none;
}

.label-switch {
    display: inline-block;
    position: relative;
}

.label-switch::before,
.label-switch::after {
    content: "";
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}

.label-switch::before {
    width: 3em;
    height: 1em;
    border: 1px solid #757575;
    border-radius: 4em;
    background: #888888;
}

.label-switch::after {
    position: absolute;
    left: 0;
    top: -20%;
    width: 1.5em;
    height: 1.5em;
    border: 1px solid #757575;
    border-radius: 4em;
    background: #ffffff;
}

.input-switch:checked~.label-switch::before {
    background: #4b93ff;
    border-color: #0d6efd;
}

.input-switch:checked~.label-switch::after {
    left: unset;
    right: 0;
    background: #4b93ff;
    border-color: #0d6efd;
}

.info-text {
    display: inline-block;
    vertical-align: text-bottom;
    font-weight: 500;
}

.info-text::before {
    content: "Cierre automático de las pestañas desactivado";
}

.input-switch:checked~.info-text::before {
    content: "Cierre automático de las pestañas activo";
}

@media (max-width: 410px) {
    .a-image-profile {
        top: 0.6rem;
        right: 0.65rem;
    }
}